---
layout: default
title: Puzzling Pastimes
---

<div class="w3-container">
  <h2>Welcome to my puzzles page</h2>
  <p>
    Hello! My name is Justin, and this is my puzzle collection (and a few non-puzzles).
    I gravitate more towards vintage puzzles, and enjoy discovering the history behind the puzzles. You can tell a lot of my tastes by what puzzles
    I have the most.
    This is my attempt to catalog all my puzzles, in hopes that others might find it useful as well. I've learned a lot from others' puzzle websites
    and enjoy talking with other puzzle enthusiasts. This site is spoiler free - you should be able to browse, without accidentally getting
    any hints to how to solve the puzzles. I am starting a blog section as well, where I might go into some more details on a puzzle,
    but I'll be sure to warn of any spoilers. Happy puzzling!
  </p>

  <center><h3>----- Recent Pickups -----</h3></center>
  <p>
    Here are some puzzles I've recently added to my collection.
  </p>
  {% include my-gallery.html aquired=20241010 %}

  &nbsp;

  <center><h3>----- All Puzzles -----</h3></center>
  {% include my-gallery.html type="all" %}
</div>
