<main class="cards">
  {% assign grouped_puzzles = site.data.puzzles | group_by: "material" %}
  {% assign sorted_puzzles = grouped_puzzles | sort: "name" | reverse %}
  {% for puzzled in sorted_puzzles %}
  {% assign tagSorted = puzzled.items | sort: "tag" %}
  {% for puzzle in tagSorted %}
  {% if puzzle.type contains include.type or include.type == "all" %}
  {% if puzzle.img != 'none.jpg' and puzzle.type != 'Calendar' %}
  <article class="card">
    <img src="{{ site.thumbsurl }}{{puzzle.img }} ">
    <div class="text">
      <p>
      {{ puzzle.name }}
      </p>
      <div id=divider>
      <hr>
      </div>
      <table>
      {% if puzzle.date %}
      <tr><td><b>Date</b> {{puzzle.date }}</td></tr>
      {% endif %}
      {% if puzzle.maker %}
      <tr><td><b>Maker</b> {{puzzle.maker }}</td></tr>
      {% endif %}
      {% if puzzle.advert %}
      <tr><td><b>Ad</b> {{puzzle.advert }}</td></tr>
      {% endif %}
      {% if puzzle.designer %}
      <tr><td><b>Designer</b> {{puzzle.designer }}</td></tr>
      {% endif %}
      {% if puzzle.patent %}
      <tr><td><b>Patent</b> <a href="https://patents.google.com/patent/{{ puzzle.patent }}" target="_blank">{{ puzzle.patent }}</a></td></tr>
      {% endif %}
      </table>
      {% if puzzle.desc %}
      <p>{{puzzle.desc }}</p>
      {% endif %}
    </div>
  </article>

{% endif %}
{% endif %}
{% endfor %}
{% endfor %}
</main>
