<main class="cards">
{% for puzzle in site.data.puzzles %}
{% if puzzle[1].type contains include.type or include.type == "all" %}
  <article class="card">
    <img src="{{ site.thumbsurl }}{{puzzle[1].img }} ">
    <div class="text">
      <h3>{{ puzzle[0] }}</h3>
      <table>
        <!--
      {% if puzzle[1].type %}
      <tr><td><b>Type</b></td><td>{{puzzle[1].type }}</td></tr>
      {% endif %}
       -->
      {% if puzzle[1].date %}
      <tr><td><b>Date</b></td><td>{{puzzle[1].date }}</td></tr>
      {% endif %}
      {% if puzzle[1].maker %}
      <tr><td><b>Maker</b></td><td>{{puzzle[1].maker }}</td></tr>
      {% endif %}
      {% if puzzle[1].designer %}
      <tr><td><b>Designer</b></td><td>{{puzzle[1].designer }}</td></tr>
      {% endif %}
      </table>
      <p>{{puzzle[1].desc }}</p>
    </div>
  </article>

{% endif %}
{% endfor %}
</main>
