<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
		<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/style.css">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body>
		<div class="sidebar w3-bar-block w3-collapse w3-card w3-light-grey w3-xlarge" id="mySidebar">
  <button class="w3-bar-item w3-button w3-jumbo w3-hide-large" onclick="w3_close()">Close &times;</button>
	<img src="{{ site.thumbsurl }}man_puzzle.jpg " style="width:50%; float: left">
	<img src="{{ site.thumbsurl }}woman_puzzle.jpg " style="width:50%; float: right">
	<ul style="list-style-type:none;">
		<li>
			<a href="index.html" class="w3-bar-item w3-button">All <!--<span class="w3-tag w3-blue w3-right w3-margin-right">8</span>--></a>
		</li>
		<li>
			<a href="tangle.html" class="w3-bar-item w3-button">Tanglements <!--<span class="w3-tag w3-blue w3-right w3-margin-right">8</span>--></a>
		</li>
		<li>
			<a href="assembly.html" class="w3-bar-item w3-button">Assembly</a>
		</li>
		<li>
			<a href="disassemble.html" class="w3-bar-item w3-button">Disassembly</a>
			<ul>
				<li>
					<a href="box.html" class="w3-bar-item w3-button">Puzzle Box</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="interlock.html" class="w3-bar-item w3-button">Interlocking</a>
		</li>
		<li>
			<a href="pattern.html" class="w3-bar-item w3-button">Pattern</a>
		</li>
		<li>
			<a href="seqmove.html" class="w3-bar-item w3-button">Sequential Movement</a>
			<ul>
				<li>
					<a href="route.html" class="w3-bar-item w3-button">Route Finding</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="permutation.html" class="w3-bar-item w3-button">Permutation</a>
			<ul>
				<li>
					<a href="slide.html" class="w3-bar-item w3-button">Sliding</a>
				</li>
			</ul>
		</li>
		<!--
		<li>
			<a href="paper.html" class="w3-bar-item w3-button">Paper</a>
		</li>
		<li>
			<a href="event.html" class="w3-bar-item w3-button">Commemorative</a>
		</li>
	-->
		<li>
			<a href="references.html" class="w3-bar-item w3-button">References</a>
			<ul>
				<li>
					<a href="references.html#books" class="w3-bar-item w3-button">Puzzle Books</a>
				</li>
				<li>
					<a href="references.html#links" class="w3-bar-item w3-button">Other Puzzle Pages</a>
				</li>
				<li>
					<a href="references.html#patents" class="w3-bar-item w3-button">Patents</a>
				</li>
			</ul>
		</li>
		<li>
			Non Puzzles
			<ul>
				<li>
					<a href="slide.html" class="w3-bar-item w3-button">Calculator</a>
				</li>
				<li>
					<a href="slide.html" class="w3-bar-item w3-button">Calendar</a>
				</li>
				<li>
					<a href="slide.html" class="w3-bar-item w3-button">Bank</a>
				</li>
			</ul>
		</li>
	</ul>
	<!--<img src="{{ site.thumbsurl }}woman_puzzle.jpg " style="height:200px;">-->
</div>

<div class="w3-main" style="margin-left:300px">
<div class="w3-brown">
  <button class="w3-button w3-light-grey w3-jumbo w3-hide-large" onclick="w3_open()">&#9776;</button>
  <div class="w3-container" style="font-size:100px">
    <h1 style="font-size: 50px;">Puzzling Pastimes</h1>
  </div>
</div>

{{ content }}

</div>

<script>
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

  </body>
</html>
